/00gnulib.m4
/config.rpath
/depcomp
/extensions.m4
/gendocs.sh
/gnulib-cache.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/guile.m4
/lib-link.m4
/onceonly.m4
/pkg.m4
/snprintfv.m4
/stdnoreturn.m4
/test-driver
/texinfo.tex
/asm-underscore.m4
/host-cpu-c-abi.m4
/lib-ld.m4
/lib-prefix.m4
bootstrap.conf
bootstrap.new
bootstrap.new-shlib
